doctype html
head
  meta(charset='utf-8')
  title Get Fitness Workouts, Gyms, in India by Body.fit
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  meta(content='Free Website Template' name='keywords')
  meta(content='Free Website Template' name='description')
  // Favicon
  link(href='img/favicon.ico' rel='icon')
  // Google Font
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap' rel='stylesheet')
  // CSS Libraries
  link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css' rel='stylesheet')
  link(href='lib/animate/animate.min.css' rel='stylesheet')
  link(href='lib/flaticon/font/flaticon.css' rel='stylesheet')
  link(href='lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
  link(href='lib/lightbox/css/lightbox.min.css' rel='stylesheet')
  // Template Stylesheet
  link(href='css/style.css' rel='stylesheet')
// Top Bar Start
.top-bar.d-none.d-md-block
  .container-fluid
    .row
      .col-md-8
        .top-bar-left
          .text
            i.far.fa-clock
            h2 8:00 - 9:00
            p Mon - Fri
          .text
            i.fa.fa-phone-alt
            h2 +91 93748 34843
      .col-md-4
        .top-bar-right
          .social
            a(href='')
              i.fab.fa-twitter
            a(href='')
              i.fab.fa-facebook-f
            a(href='')
              i.fab.fa-linkedin-in
            a(href='')
              i.fab.fa-instagram
// Top Bar End
// Nav Bar Start
.navbar.navbar-expand-lg.bg-dark.navbar-dark
  .container-fluid
    a.navbar-brand(href='index.html')
      | G
      span Y
      | M
      span i
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse.justify-content-between
      .navbar-nav.ml-auto
        a.nav-item.nav-link(href='index.html') Home
        a.nav-item.nav-link.active(href='about.html') About
        a.nav-item.nav-link(href='service.html') Service
        a.nav-item.nav-link(href='price.html') Price
        a.nav-item.nav-link(href='bmi.html') BMI
        a.nav-item.nav-link(href='team.html') Trainer
        a.nav-item.nav-link(href='blog.html') Blog
        a.nav-item.nav-link(href='contact.html') Contact
        a.nav-item.nav-link(href='register.html') Register
// Nav Bar End
// Page Header Start
.page-header
  .container
    .row
      .col-12
        h2 About Us
      .col-12
        a(href='') Home
        a(href='') About Us
// Page Header End
// About Start
.about.wow.fadeInUp(data-wow-delay='0.1s')
  .container
    .row.align-items-center
      .col-lg-5.col-md-6
        .about-img
          img(src='img/pexels-pixabay-38630.jpg' alt='Image')
      .col-lg-7.col-md-6
        .section-header.text-left
          p Learn About Us
          h2 Welcome to GyMi
        .about-text
          p
            | GyMi is dedicated to her customers to ensure their fitness and
            | their strong health. Being fit doesn&rsquo;t suck, instead it gives
            | one a stronger lifespan and health. Get back into the business
            | of GyMi. Join our community and coaches in the mission to help
            | bring you back to a healthier lifestyle.
          p
            | GyMi is dedicated to her customers to ensure their fitness and
            | ong health. Being fit doesn&rsquo;t suck, instead it gives one a
            | stronger lifespan and health. Get back into the business of
            | GyMi. Join our community and coaches in the mission to help
            | bring you back to a healthier lifestyle.
// About End
.about.wow.fadeInUp(data-wow-delay='0.1s')
  .container
    .row.align-items-center
      .col-lg-5.col-md-6
        .about-img
          img(src='img/VISION.jpg' alt='Image')
      .col-lg-7.col-md-6
        .section-header.text-left
          p Our Vision &amp; Mission
          h2 VISION
        .about-text
          p
            | GyMi is dedicated to her customers to ensure their fitness and
            | their strong health. Being fit doesn&rsquo;t suck, instead it gives
            | one a stronger lifespan and health. Get back into the business
            | of GyMi. Join our community and coaches in the mission to help
            | others
          h2 MISSION
          p
            | At GyMi, our mission is to make working out possible anywhere
            | and anytime by using best in class technology. Our aim is to use
            | technology to roll your fitness trainer, workout buddies and
            | fitness device into a seamless digital experience.
// Team Start
.team
  .container
    .section-header.text-center.wow.zoomIn(data-wow-delay='0.1s')
      p GyMi Trainer
      h2 Expert GyMi Trainers
    .row
      .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.0s')
        .team-item
          .team-img
            img(src='img/team-1.jpg' alt='Image')
            .team-social
              a(href='')
                i.fab.fa-twitter
              a(href='')
                i.fab.fa-facebook-f
              a(href='')
                i.fab.fa-linkedin-in
              a(href='')
                i.fab.fa-instagram
          .team-text
            h2 Millie Harper
            p Crossfit Tutor
      .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.2s')
        .team-item
          .team-img
            img(src='img/team-2.jpg' alt='Image')
            .team-social
              a(href='')
                i.fab.fa-twitter
              a(href='')
                i.fab.fa-facebook-f
              a(href='')
                i.fab.fa-linkedin-in
              a(href='')
                i.fab.fa-instagram
          .team-text
            h2 Lilly Fry
            p Crossfit Tutor
      .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.4s')
        .team-item
          .team-img
            img(src='img/team-3.jpg' alt='Image')
            .team-social
              a(href='')
                i.fab.fa-twitter
              a(href='')
                i.fab.fa-facebook-f
              a(href='')
                i.fab.fa-linkedin-in
              a(href='')
                i.fab.fa-instagram
          .team-text
            h2 Elise Moran
            p Zumba Tutor
      .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.6s')
        .team-item
          .team-img
            img(src='img/team-4.jpg' alt='Image')
            .team-social
              a(href='')
                i.fab.fa-twitter
              a(href='')
                i.fab.fa-facebook-f
              a(href='')
                i.fab.fa-linkedin-in
              a(href='')
                i.fab.fa-instagram
          .team-text
            h2 Kate Glover
            p Upperbody Tutor
// Team End
// Footer Start
.footer.wow.fadeIn(data-wow-delay='0.3s')
  .container-fluid
    .container
      .footer-info
        a.footer-logo(href='index.html')
          | G
          span Y
          | M
          span i
        h3 Malleshwaram,Bangalore
        .footer-menu
          p +91 93748 34843
          p example@gmail.com
        .footer-social
          a(href='')
            i.fab.fa-twitter
          a(href='')
            i.fab.fa-facebook-f
          a(href='')
            i.fab.fa-youtube
          a(href='')
            i.fab.fa-instagram
          a(href='')
            i.fab.fa-linkedin-in
    .container.copyright
      .row
        .col-md-6
          p &copy; All Right Reserved.
// Footer End
a.back-to-top(href='#')
  i.fa.fa-chevron-up
// JavaScript Libraries
script(src='https://code.jquery.com/jquery-3.4.1.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')
script(src='lib/easing/easing.min.js')
script(src='lib/wow/wow.min.js')
script(src='lib/owlcarousel/owl.carousel.min.js')
script(src='lib/isotope/isotope.pkgd.min.js')
script(src='lib/lightbox/js/lightbox.min.js')
// Contact Javascript File
script(src='mail/jqBootstrapValidation.min.js')
script(src='mail/contact.js')
// Template Javascript
script(src='js/main.js')
