doctype html
head
  meta(charset='utf-8')
  title Get Fitness Workouts, Gyms, in India by Body.fit
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  meta(content='Free Website Template' name='keywords')
  meta(content='Free Website Template' name='description')
  // Favicon
  link(href='img/favicon.ico' rel='icon')
  // Google Font
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap' rel='stylesheet')
  // CSS Libraries
  link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css' rel='stylesheet')
  link(href='lib/animate/animate.min.css' rel='stylesheet')
  link(href='lib/flaticon/font/flaticon.css' rel='stylesheet')
  link(href='lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
  link(href='lib/lightbox/css/lightbox.min.css' rel='stylesheet')
  // Template Stylesheet
  link(href='css/style.css' rel='stylesheet')
// Top Bar Start
.top-bar.d-none.d-md-block
  .container-fluid
    .row
      .col-md-8
        .top-bar-left
          .text
            i.far.fa-clock
            h2 8:00 - 9:00
            p Mon - Fri
          .text
            i.fa.fa-phone-alt
            h2 +91 93748 34843
      .col-md-4
        .top-bar-right
          .social
            a(href='')
              i.fab.fa-twitter
            a(href='')
              i.fab.fa-facebook-f
            a(href='')
              i.fab.fa-linkedin-in
            a(href='')
              i.fab.fa-instagram
// Top Bar End
// Nav Bar Start
.navbar.navbar-expand-lg.bg-dark.navbar-dark
  .container-fluid
    a.navbar-brand(href='index.html')
      | G
      span Y
      | M
      span i
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse.justify-content-between
      .navbar-nav.ml-auto
        a.nav-item.nav-link.active(href='index.html') Home
        a.nav-item.nav-link(href='about.html') About
        a.nav-item.nav-link(href='service.html') Service
        a.nav-item.nav-link(href='price.html') Price
        a.nav-item.nav-link(href='bmi.html') BMI
        a.nav-item.nav-link(href='team.html') Trainer
        a.nav-link.nav-link(href='blog.html') Blog
        a.nav-item.nav-link(href='contact.html') Contact
        a.nav-item.nav-link(href='register.html') Register
// Nav Bar End
// Hero Start
.hero
  .container-fluid
    .row.align-items-center
      .col-sm-12.col-md-6
        .hero-text
          h1 Join GyMi TO Have Good Fitness
          p
            | Being fit is a neccesity for strong health and it doesn&rsquo;t suck, get back into it today.
            | GyMi has got you covered for your fitness
          .hero-btn
            a.btn(href='contact.html') Join Now
            a.btn(href='contact.html') Contact Us
      .col-sm-12.col-md-6.d-none.d-md-block
        .hero-image
          img(src='img/background.jpg' alt='Hero Image')
// Hero End
// About Start
.about.wow.fadeInUp(data-wow-delay='0.1s')
  .container
    .row.align-items-center
      .col-lg-5.col-md-6
        .about-img
          img(src='img/pexels-victor-freitas-1092878.jpg' alt='Image')
      .col-lg-7.col-md-6
        .section-header.text-left
          p Learn About Us
          h2 Welcome to GyMi
        .about-text
          p
            | The best way to be healthy
            | GyMi is dedicated to her customers to ensure their fitness and their strong health.
            | Being fit doesn&rsquo;t suck, instead it gives one a stronger lifespan and health. Get back into the business of GyMi.
            | Join our community and coaches in the mission to help bring you back to a healthier lifestyle.
          p
            | GyMi is dedicated to her customers to ensure their fitness and their strong health.
            | Being fit doesn&rsquo;t suck, instead it gives one a stronger lifespan and health. Get back into the business of GyMi.
            | Join our community and coaches in the mission to help bring you back to a healthier lifestyle.
// About End
// Service Start
.service
  .container
    .section-header.text-center.wow.zoomIn(data-wow-delay='0.1s')
      p What we do
      h2 LikeWISE
    .row
      .col-lg-4.col-md-6
        .service-item
          .service-icon
            img(src='icons/png/001-dumbbell.png' alt='bench press')
          h3 Heal emotions
          p
            | Emotions are feelings, thoughts and responses that are a sign of a thinking mind, a living soul and a reactive body;
            | they produce different physiological,
            | behavioural and cognitive changes as well.
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.2s')
        .service-item
          .service-icon
            img(src='icons/png/010-weight.png' alt='bench press')
          h3 Body Refreshes
          p
            | There is an old proverb, &ldquo;A sound mind lives in a sound body&rdquo;. Sound body means sound health which depends on several factors
            | Morning walk is one of them. It is a boon for health.
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.4s')
        .service-item
          .service-icon
            img(src='icons/png/018-punching bag.png' alt='bench press')
          h3 Mind &amp; Serenity
          p
            | The definition of serenity is a state of being calm, peaceful and untroubled. Achieving this positive state of mind
            | means you won&rsquo;t feel as troubled by life&rsquo;s ups and downs.
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.6s')
        .service-item
          .service-icon
            img(src='icons/png/024-hand grip.png' alt='bench press')
          h3 Enjoy Your life
          p
            | The God has given us this valuable life to enjoy. We go thorough many phases in life. Sometimes, we go through celebrations,
            | sometimes there are hard times and sometimes we feel that we are under depression.
            | Every one has once or no. of times all of these phases.
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.8s')
        .service-item
          .service-icon
            img(src='icons/png/029-boxing glove.png' alt='bench press')
          h3 Body &amp; Spirituality
          p
            | We feel open, flexible and healthful, our vitamin and mineral elements should be balanced,
            | and we should be free of pain, toxicity, and acidity.
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='1s')
        .service-item
          .service-icon
            img(src='icons/png/002-kettlebell.png' alt='bench press')
          h3 Body &amp; Mind
          p
            | There&rsquo;s too much focus on physical strength, beauty, and anti-aging. There&rsquo;s also doubt that the body can heal itself, and an over-reliance on outside factors like drugs, surgeries,and injections to bring the body&rsquo;s radiance and worth back.
// Testimonial Start
.testimonial.wow.fadeInUp(data-wow-delay='0.1s')
  .container
    .section-header.text-center
      p Testimonial
      h2 Our Client Say!
    .owl-carousel.testimonials-carousel
      .testimonial-item
        .testimonial-img
          img(src='img/testimonial-1.jpg' alt='Image')
        .testimonial-text
          p
            | Lorem ipsum dolor sit amet consec adipis elit. Etiam accums
            | lacus eget velit tincid, quis suscip justo dictum.
          h3 Customer Name
          h4 Profession
      .testimonial-item
        .testimonial-img
          img(src='img/testimonial-2.jpg' alt='Image')
        .testimonial-text
          p
            | Lorem ipsum dolor sit amet consec adipis elit. Etiam accums
            | lacus eget velit tincid, quis suscip justo dictum.
          h3 Customer Name
          h4 Profession
      .testimonial-item
        .testimonial-img
          img(src='img/testimonial-3.jpg' alt='Image')
        .testimonial-text
          p
            | Lorem ipsum dolor sit amet consec adipis elit. Etiam accums
            | lacus eget velit tincid, quis suscip justo dictum.
          h3 Customer Name
          h4 Profession
      .testimonial-item
        .testimonial-img
          img(src='img/testimonial-4.jpg' alt='Image')
        .testimonial-text
          p
            | Lorem ipsum dolor sit amet consec adipis elit. Etiam accums
            | lacus eget velit tincid, quis suscip justo dictum.
          h3 Customer Name
          h4 Profession
.container
  section.forms
    form
      .form-row.formwrapper
        .col-12.col-sm-7.col-md-7.col-lg-7
          .selectwrapper
            .row
              .col-12.col-sm-12.col-md-20.col-lg-10
                h1 Calculate Your BMI
                p
                  | Your Body Mass Index (BMI) is a measurement of the ratio of your
                  | weight to your heighjt. It is a good way to gauge whether your weight
                  | is in healthy proportion to your height. BMI helps determine any risk
                  | you may face if its outside the healthy range.
              .col-12.col-sm-12.col-md-12.col-lg-12.row.ff
                .col-5.col-sm-5.col-md-5.col-lg-4.sizing.sizing2.sizing3
                  button.btn.btn-success.color.cal-btn(type='button')
                    a(href='bmi.html') Calculate
br
br
br
// CEO
.about.wow.fadeInUp(data-wow-delay='0.1s')
  .container
    .row.align-items-center
      .col-lg-5.col-md-6
        .about-img
          img(src='./img/ariana.png' alt='Image')
      .col-lg-7.col-md-6
        .section-header.text-left
          p CEO-Angelina Jolie
        .about-text
          p
            | GyMi is dedicated to her customers to ensure their fitness and ong health. Being fit doesn&rsquo;t suck, instead it gives one a
            | stronger lifespan and health.
            | Get back into the business of GyMi.
            | Join our community and coaches in the mission to help bring you back to a healthier lifestyle.
          p
            | GyMi is dedicated to her customers to ensure their fitness and their strong health.
            | Being fit doesn&rsquo;t suck, instead it gives one a stronger lifespan and health.
// Footer Start
.footer.wow.fadeIn(data-wow-delay='0.3s')
  .container-fluid
    .container
      .footer-info
        a.footer-logo(href='index.html')
          | G
          span Y
          | M
          span i
        h3 Malleshwaram Bangalore
        .footer-menu
          p +91 93748 34843
          p example@gmail.com
        .footer-social
          a(href='')
            i.fab.fa-twitter
          a(href='')
            i.fab.fa-facebook-f
          a(href='')
            i.fab.fa-youtube
          a(href='')
            i.fab.fa-instagram
          a(href='')
            i.fab.fa-linkedin-in
    .container.copyright
      .row
        .col-md-6
          p &copy;  All Right Reserved.
// Footer End
a.back-to-top(href='#')
  i.fa.fa-chevron-up
// JavaScript Libraries
script(src='https://code.jquery.com/jquery-3.4.1.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')
script(src='lib/easing/easing.min.js')
script(src='lib/wow/wow.min.js')
script(src='lib/owlcarousel/owl.carousel.min.js')
script(src='lib/isotope/isotope.pkgd.min.js')
script(src='lib/lightbox/js/lightbox.min.js')
// Contact Javascript File
script(src='mail/jqBootstrapValidation.min.js')
script(src='mail/contact.js')
// Template Javascript
script(src='js/main.js')
