doctype html
head
  meta(charset='utf-8')
  title Get Fitness Workouts, Gyms, in India by Body.fit
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  meta(content='Free Website Template' name='keywords')
  meta(content='Free Website Template' name='description')
  // Favicon
  link(source='img/favicon.ico' rel='icon')
  // Google Font
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap' rel='stylesheet')
  // CSS Libraries
  link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css' rel='stylesheet')
  link(href='lib/animate/animate.min.css' rel='stylesheet')
  link(href='lib/flaticon/font/flaticon.css' rel='stylesheet')
  link(href='lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
  link(href='lib/lightbox/css/lightbox.min.css' rel='stylesheet')
  // Template Stylesheet
  //link(href='register.css' rel='stylesheet')
style 
      include ./register.css










// Top Bar Start
.top-bar.d-none.d-md-block
  .container-fluid
    .row
      .col-md-8
        .top-bar-left
          .text
            i.far.fa-clock
            h2 8:00 - 9:00
            p Mon - Fri
          .text
            i.fa.fa-phone-alt
            h2 +91 93748 34843
      .col-md-4
        .top-bar-right
          .social
            a(href='')
              i.fab.fa-twitter
            a(href='')
              i.fab.fa-facebook-f
            a(href='')
              i.fab.fa-linkedin-in
            a(href='')
              i.fab.fa-instagram
// Top Bar End
// Nav Bar Start
.navbar.navbar-expand-lg.bg-dark.navbar-dark.nav-sticky
  .container-fluid
    a.navbar-brand(href='index.html')
      | GYM
      
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse.justify-content-between
      .navbar-nav.ml-auto
        a.nav-item.nav-link(href='index.html') Home
        a.nav-item.nav-link(href='about.html') About
        a.nav-item.nav-link(href='service.html') Service
        a.nav-item.nav-link(href='price.html') Price
        a.nav-item.nav-link(href='bmi.html') BMI
        a.nav-item.nav-link(href='team.html') Trainer
        a.nav-item.nav-link(href='blog.html') Blog
        a.nav-item.nav-link(href='contact.html') Contact
        a.nav-item.nav-link.active(href='register.html') Register
// Nav Bar End
// Page Header Start
.page-header
  .container
    .row
      .col-12
        h2 Register
      .col-12
        a(href='') Home
        a(href='') Register
// Page Header End
// Portfolio Start
//
  <div class="portfolio">
  <div class="container">
  <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s" >
  <p>Workouts</p>
  <h2>Awesome Workouts</h2>
  </div>
  <div class="row">
  <div class="col-12">
  <ul id="portfolio-filter">
  <li data-filter="*" class="filter-active">All Workouts</li>
  <li data-filter=".first">CHEST Workouts</li>
  <li data-filter=".second">Biseps Workouts</li>
  <li data-filter=".third">Leg Workouts</li>
  </ul>
  </div>
  </div>
  <div class="row portfolio-container">
  <div class=" col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp " data-wow-delay="0.1s" >
  <div class="portfolio-wrap">
  <a href="img/portfolio-1.jpg" data-lightbox="portfolio">
  <img src="img/portfolio-1.jpg" alt="Portfolio Image" />
  </a>
  </div>
  </div>
  <div class=" col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp " data-wow-delay="0.3s" >
  <div class="portfolio-wrap">
  <a href="img/portfolio-2.jpg" data-lightbox="portfolio">
  <img src="img/portfolio-2.jpg" alt="Portfolio Image" />
  </a>
  </div>
  </div>
  <div class=" col-lg-4 col-md-6 col-sm-12  portfolio-item third wow fadeInUp " data-wow-delay="0.5s" >
  <div class="portfolio-wrap">
  <a href="img/portfolio-3.jpg" data-lightbox="portfolio">
  <img src="img/portfolio-3.jpg" alt="Portfolio Image" />
  </a>
  </div>
  </div>
  <div class="  col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp " data-wow-delay="0.7s" >
  <div class="portfolio-wrap">
  <a href="img/portfolio-4.jpg" data-lightbox="portfolio">
  <img src="img/portfolio-4.jpg" alt="Portfolio Image" />
  </a>
  </div>
  </div>
  <div class=" col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp " data-wow-delay="0.9s" >
  <div class="portfolio-wrap">
  <a href="img/portfolio-5.jpg" data-lightbox="portfolio">
  <img src="img/portfolio-5.jpg" alt="Portfolio Image" />
  </a>
  </div>
  </div>
  <div class=" col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp " data-wow-delay="1.1s" >
  <div class="portfolio-wrap">
  <a href="img/portfolio-6.jpg" data-lightbox="portfolio">
  <img src="img/portfolio-6.jpg" alt="Portfolio Image" />
  </a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <!-- Portfolio Start





 















.container
  .item
    form(action='/register' method='post')
      .username
        #firstname
          p Firstname
          input#fname.myform(type='text' name='fname' placeholder='Enter your firstname')
        #lastname
          p Last Name
          input#lname.myform(type='text' name='lname' placeholder='Enter your lastname')
      .emailandsex
        .mail
          p Email
          input.myform(type='email' name='email' placeholder='Enter your email')
        .sex
          p Gender 
          input#male(type='radio' name='gender' value='male')
          label(for='male') Male
          br
          input#female(type='radio' name='gender' value='female')
          label(for='female') Female
          br
      // password
      .password
        #passcode
          p Password
          input#pass.myform(type='password' name='fpassword' placeholder='Enter your password')
          br
        #cpasscode
          br
          p Confirm Password
          input#cpass.myform(type='password' name='confirmpasspord' placeholder='Confirm your password')
      button#btn(type='submit') Submit
.container
 
 
 
 
 
 
 
 



// Footer Start
.footer.wow.fadeIn(data-wow-delay='0.3s')
  .container-fluid
    .container
      .footer-info
        a.footer-logo(href='index.html')
          | G
          span Y
          | M
          span i
        h3 Malleshwaram,BANGALORE
        .footer-menu
          p +91 93748 34843
          p example@gmail.com
        .footer-social
          a(href='')
            i.fab.fa-twitter
          a(href='')
            i.fab.fa-facebook-f
          a(href='')
            i.fab.fa-youtube
          a(href='')
            i.fab.fa-instagram
          a(href='')
            i.fab.fa-linkedin-in
    .container.copyright
      .row
        .col-md-6
          p &copy; All Right Reserved.
// Footer End
a.back-to-top(href='#')
  i.fa.fa-chevron-up
// JavaScript Libraries
script(src='https://code.jquery.com/jquery-3.4.1.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')
script(src='lib/easing/easing.min.js')
script(src='lib/wow/wow.min.js')
script(src='lib/owlcarousel/owl.carousel.min.js')
script(src='lib/isotope/isotope.pkgd.min.js')
script(src='lib/lightbox/js/lightbox.min.js')
// Contact Javascript File
script(src='mail/jqBootstrapValidation.min.js')
script(src='mail/contact.js')
// Template Javascript
script(src='js/main.js')
